dropdownMain:hover #dropdown {
  display: flex;
   background-color: black;
   color: blue;
}

dropdown {
  display: none;
}

body {
  background-image: url(img/section.jpeg);
  z-index: -10;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.808);
  background-blend-mode: darken;
  background-attachment: fixed;
  overflow:;
  box-sizing: border-box;
}

#section {
  background-image: url(img/back.jpeg);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.808);
  background-blend-mode: darken;
}

#map {
  background-image: url(img/map.jpeg);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.808);
  background-blend-mode: darken;    
}

#mapbro {
  background-image: url(img/map2.jpeg);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.808);
}

#zindex {
  /* background-image: url(img/section.jpeg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.808);
  background-blend-mode: darken;
  z-index: 0;
} */
}




/* @keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1280px) {
  #rowling {
    animation-name: marquee;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1829);
    animation-duration: 20s;
    animation-fill-mode: both;
    width: 128  0px;
    height: 100px;
    overflow: hidden;
  }
} */
